.quote-container {
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  box-shadow: 0 10px 10px 10px rgba($color: #000000, $alpha: 0.2);

  .quote-text {
    font-size: 2.75rem;
  }

  .long-quote {
    font-size: 2rem;
  }

  .fa-quote-left {
    font-size: 4rem;
  }

  .quote-author {
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;

    &::before {
      content: "- ";
    }
  }

  .button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    button {
      cursor: pointer;
      font-size: 1.2rem;
      height: 2.5rem;
      border: none;
      border-radius: 10px;
      color: #ffffff;
      background: #000000;
      outline: none;
      padding: 0.5rem 1.8rem;
      box-shadow: 0 0.3rem rgba($color: #010101, $alpha: 0.65);

      &:hover {
        filter: brightness(110%);
      }

      &:active {
        transform: translate(0, 0.3rem);
        box-shadow: 0 0.1rem rgba($color: #ffffff, $alpha: 1);
      }
    }
    .twitter-button:hover {
      color: #38a1f3;
    }
    .fa-twitter {
      font-size: 1.5rem;
    }
  }
}

// Tablet or smaller

@media screen and (max-width: 1000px) {
  .quote-container {
    margin: auto 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    .quote-text {
      font-size: 2.5rem;
    }
  }
}
